*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav {
    margin-top: auto;
    background-color: #D9DCD6;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

nav>a{
    display:flex ;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: #16425B;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem ;
    color: #FFBC42;
}
.task-alert{
    width: auto;
    height: 3rem;
    display: flex;
    flex-direction: row;
    background-color: #D9DCD6;
    justify-content: center;
    align-items: center;
}
.task-alert > p {
    margin: 1rem;
    font-weight: 400;
}
.task-description{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.task-description > p {
    opacity: 40%;
}
#span-description{
    color: #000;
    font-weight: 700;
}
h4{
    color: #000;
    font-weight: 600
}
.description{
    text-align: justify;
    padding-right: 0.5rem;
}
.file-upload{
    width: auto;
    height: 10rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
}
.span-points{
    color: #000;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form > button {
    width: auto;
    height: 2.5rem;
    background-color: #FFBC42;
    border-radius: 0.5rem;
    border: none;
}
.points-description{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}