*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav {
    margin-top: auto;
    background-color: #D9DCD6;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

nav>a{
    display:flex ;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: #16425B;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem ;
    color: #3A7CA5;
}
ul{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
ul > li{
    width:22rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    background-color: #3A7CA5;
    border-radius: 0.5rem;
    font-weight: 700;
    color: #ffff;
}