*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav {
    margin-top: auto;
    background-color: #D9DCD6;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

nav>a{
    display:flex ;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: #16425B;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem ;
    color: #FFBC42;
}
.search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-right: 0.5rem;
}
.search-user {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
select{
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
.teacher-task{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}
.teacher-task > svg {
    margin: 0.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
}
section > p {
    margin: 0.5rem 0 0 1rem;
}
.tasks{
    background-color: #f1f1f1;
    width: auto;
    height: 9.4rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid #ccc;
    border-top: 0.5px solid #ccc;
}
.total-task{
    width: auto;
    height: auto;
    overflow: auto;
}